<div class="container__big-card">
  <div class="big-card__picture">
    <img
      src="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-628.png?sfvrsn=bf64b1ee_3"
      alt=""
      height="200px"
    />
  </div>
  <div class="big-card__title">
    <h1>Saiu a nova versão do Angular</h1>
  </div>
  <div class="big-card__description">
    <p>
      Commodo laborum commodo ex ullamco id minim nulla eu. Ut sint elit esse
      quis ut non voluptate deserunt dolor culpa nulla. Adipisicing consectetur
      adipisicing proident laborum tempor velit excepteur magna ipsum. Magna do
      ad commodo ad duis deserunt non proident tempor magna qui ea incididunt
      aute.
    </p>
  </div>
</div>
