<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      photoCover="https://d585tldpucybw.cloudfront.net/sfimages/default-source/blogs/2023/2023-11/angular-logo-1200-628.png?sfvrsn=bf64b1ee_3"
      cardTitle="Nova versão do Angular anunciada"
      cardDescription="Angular anuncia que disponibilizará nova versão ainda este ano e a versão contará com diversas novas funcionalidades."
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      id="2"
      photoCover="https://cdn.vox-cdn.com/uploads/chorus_asset/file/23303819/FNgAy4JVkAs_Rbz.jpeg"
      cardTitle="Novo filme anunciado"
    ></app-small-card>
    <app-small-card
      id="2"
      photoCover="https://cdn.vox-cdn.com/uploads/chorus_asset/file/23303819/FNgAy4JVkAs_Rbz.jpeg"
      cardTitle="Novo filme anunciado"
    ></app-small-card>
    <app-small-card
      id="2"
      photoCover="https://cdn.vox-cdn.com/uploads/chorus_asset/file/23303819/FNgAy4JVkAs_Rbz.jpeg"
      cardTitle="Novo filme anunciado"
    ></app-small-card>
  </div>
</div>
